*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    --blue: rgb(13, 224, 239);
}

body{
    background-color: #ffffff;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 7fr 3fr 7fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

/*------------------Section-1------------------*/

#section-1{
    grid-area: 1/1/4/2;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#folder-container{
    text-align: center;
    height: 40px;
    width: 100px;
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    padding-top: 10px;
    transition: height 2s ease-in-out;
}

#folder-container:hover{
    height: 100%;
    cursor: pointer;
}

/*------------------Section-2------------------*/

#section-2{
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: var(--blue);
    border-radius: 10px;
}

#spining-square{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 0, 0);
    animation-name: spining;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes spining {
    from{
        transform: rotate(0deg);
        background-color: rgb(255, 255, 255);
    }
    to{
        transform:rotate(720deg);
        background-color: rgb(81, 255, 0);
    }
}

/*------------------Section-3------------------*/

#section-3{
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: var(--blue);
    border-radius: 10px;
}

#bouncing-ball-container{
    margin-top: 10px;
    border:1px solid rgb(0, 0, 0);
    width: 30px;
    height: 180px;
}

#bouncing-ball{
    width: 28px;
    height: 28px;
    border-radius: 28px;
    position: relative;
    top: 0;
    background-color: rgb(255, 255, 255);
    animation: ease-in;
    animation-name: bouncing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bouncing {
    0%{
        top: 0;
    }
    50%,60%,70%,100%{
        top: 150px;
    }
    60%{
        top: 100px;
    }
    80%{
        top: 130px;
    }
}

/*------------------Section-4------------------*/

#section-4{
    grid-area: 3/2/4/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: var(--blue);
    border-radius: 10px;
}

#ball-container{
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.ball{
    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: 1px solid black;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#ball-1{
    background-color: rgb(248, 244, 244);
    animation-name: ball;
}

#ball-2{
    background-color: #9cad09;
    animation-name: ball;
    animation-delay: 1s;
}

#ball-3{
    background-color: rgb(237, 226, 226);
    animation-name: ball;
    animation-delay: 2s;
}

@keyframes ball{
    from{
        background-color: rgb(248, 244, 244);
    }
    to{
        background-color: #0f0f0f;
    }
}

/*------------------Section-5------------------*/

#section-5{
    grid-area: 1/3/4/4;
}

/*------------------Section-6------------------*/

#section-6{
    grid-area: 1/4/2/5;
    padding: 10px;
    background-color: var(--blue);
    border-radius: 10px;
    text-align: center;
    position:relative;
}

#section-6 h2{
    padding: 30px;
}

.square{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    margin: 5px;
    right: 0;
    bottom: 0;
    background-color: yellow;
    animation: linear;
    animation-name: square-around;
    animation-iteration-count: infinite;
    animation-duration: 11s;
}

#square-1{
    position: absolute;
}

#square-2{
    position: absolute;
    animation-delay: 0.5s;
}

#square-3{
    position: absolute;
    animation-delay: 1s;
}

#square-4{
    position: absolute;
    animation-delay: 1.5s;
}

#square-5{
    position: absolute;
    animation-delay: 2s;
}

#square-6{
    position: absolute;
    animation-delay: 2.5s;
}


@keyframes square-around {
    0%{
        right: 0;
        bottom: 0;
    }
    25%{
        transform: rotate(360deg);
        bottom: 0;
        right: 95%;
        background-color: #bc3131;
    }
    50%{
        transform: rotate(720deg);
        bottom: 90%;
        right: 95%;
        background-color: #7cb6e3;
    }
    75%{
        transform: rotate(1080deg);
        bottom: 90%;
        right: 0;
        background-color: #db8c25;
    }
    100%{
        transform: rotate(1440deg);
        bottom: 0;
        right: 0;
        background-color: yellow;
    }
}
